*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background-color: black;
    color: white;
   
}
@font-face {
  font-family: SFfont;
  src: url(../Fonts/CityBrawlersBoldCaps.otf);
}

@font-face {
  font-family: UNIfont;
  src: url(../Fonts/FOT-NewCezanne\ Pro\ B.otf);
}

@font-face {
  font-family: sexfont;
  src: url(../Fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Medium.ttf);
}

@font-face {
  font-family: GGfont;
  src: url(../Fonts/Impact\ -\ Strive.otf);
}
@font-face {
  font-family: CSfont;
  src: url(../Fonts/High\ Speed.otf);
}
@font-face {
  font-family: VALfont;
  src: url(../Fonts/Valorant\ Font.ttf);
}
@font-face {
  font-family: R6font;
  src: url(../Fonts/BebasNeue-Regular.ttf);
}


.parallax1{
    padding-top: 70px;
    background-image: url(../Media/25-06-2023-Student-Champ-Finals-British-Esports-HIGH-351-2-767x710.png);
      /* Set a specific height */
    min-height: 750px; 

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     -webkit-text-stroke: 0.09em black;
  }



  .maintext{
  font-size: 300px;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 0px;
    font-family: SFfont,'Consolas','Courier New', Courier, monospace;
  }
  .subtext{
    font-size: 100px;
    color: white;
    text-align: center;
    margin: auto;
    font-family: SFfont,'Consolas','Courier New', Courier, monospace;
  }


  .break1{
    background-image: linear-gradient(to right, #552586 , #B589D6);
    text-align: center;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sexfont,'Consolas','Courier New', Courier, monospace;
  }

  .break1head{
    border-style: solid;
    border-color: black;
    margin: auto;
    padding: 15px;
    font-size: 50px;
    text-wrap: nowrap;
  }

  .break1headpara{
    font-size: 20px;
  }

  .parallax2{
    background-image: url(../Media/LGD_Gaming_at_the_2015_LPL_Summer_Finals.png);
      /* Set a specific height */
    min-height: 750px; 

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 50px;
     -webkit-text-stroke: 1px black;
  }

  .FGC{
    padding: 100px;
  }

  .FPS{
    padding: 100px;
  }
  
   .SF6{
    padding: 10px;
    background-position: center;
    font-family: SFfont;
    

  }

  .CS2{
    padding: 10px;
    background-position: center;
    font-family: CSfont;
    background-size: 100%;
    
  }

   .GGST{
    padding: 10px;
    background-position: center;
    font-family: GGfont;
    
   
  }

  .VAL{
    padding: 10px;
    background-position: center;
    font-family: VALfont;
    background-size: 100%;
  }

   .UNI{
    padding: 10px;
    background-position: center;
    font-family: UNIfont;
    
  }

  .R6S{
    padding: 10px;
    background-position: center;
    font-family: R6font;
    background-size: 100%;
  }