*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background-color: black;
    color: white;
}
@font-face {
  font-family: SFfont;
  src: url(../Fonts/CityBrawlersBoldCaps.otf);
}

@font-face {
  font-family: sexfont;
  src: url(../Fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Medium.ttf);
}

@font-face {
  font-family: GGfont;
  src: url(../Fonts/Impact\ -\ Strive.otf);
}

.parallax1{
    padding-top: 70px;
    background-image: url(../Media/25-06-2023-Student-Champ-Finals-British-Esports-HIGH-351-2-767x710.png);
      /* Set a specific height */
    min-height: 750px; 

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



  .maintext{
  font-size: 300px;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 0px;
    font-family: SFfont,'Consolas','Courier New', Courier, monospace;
  }
  .subtext{
    font-size: 100px;
    color: white;
    text-align: center;
    margin: auto;
    font-family: SFfont,'Consolas','Courier New', Courier, monospace;
  }


  .break1{
    background-image: linear-gradient(to right, #552586 , #B589D6);
    text-align: center;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sexfont,'Consolas','Courier New', Courier, monospace;
  }

  .break1head{
    border-style: solid;
    border-color: black;
    margin: auto;
    padding: 15px;
    font-size: 50px;
    text-wrap: nowrap;
  }

  .break1headpara{
    font-size: 20px;
  }

  .parallax2{
    padding-top: px;
    background-image: url(../Media/LGD_Gaming_at_the_2015_LPL_Summer_Finals.png);
      /* Set a specific height */
    min-height: 750px; 

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }