body{
    background-color: black;
}

.parallax1{
    font-size: 500px;
    padding-top: 70px;
    background-image: url(../Media/25-06-2023-Student-Champ-Finals-British-Esports-HIGH-351-2-767x710.jpg);
      /* Set a specific height */
    min-height: 500px; 

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    color: white;
    
}