*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title{
  background-color:purple;
}

  
body{
    text-align: center;
    background-color:rgb(169, 40, 40);
}

@font-face {
  font-family: SFfont;
  src: url(../Fonts/CityBrawlersBoldCaps.otf);
}

@font-face {
  font-family: UNIfont;
  src: url(../Fonts/FOT-NewCezanne\ Pro\ B.otf);
}

@font-face {
  font-family: sexfont;
  src: url(../Fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Medium.ttf);
}

@font-face {
  font-family: GGfont;
  src: url(../Fonts/Impact\ -\ Strive.otf);
}
@font-face {
  font-family: CSfont;
  src: url(../Fonts/High\ Speed.otf);
}
@font-face {
  font-family: VALfont;
  src: url(../Fonts/Valorant\ Font.ttf);
}
@font-face {
  font-family: R6font;
  src: url(../Fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: GENfont;
  src: url(../Fonts/Angels.ttf);
}


.tabbar{
    overflow: hidden;
    border:1px solid rgba(50, 50, 50, 0.3);
    background-color: #f1f1f1;

    
    
}
.title{
  padding-top: 100px;
}

.tabbar button {
  width:33%;
  background-color: inherit;
  
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  transition: 0.3s ease-in-out;
  font-family: R6font;
  font-size: 20px;
  -webkit-text-stroke: 0.1px white;
  font-weight: normal;
}

.tabbar button:hover {
  background-color: #ddd;
}

.tabbar button.active {
  background-color: #ccc;
}

.tabbarcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
}



.tabbarcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.selector{
   border:10px solid rgba(0, 0, 0, 1);
   margin: 0;
   width: 100%;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
}
.SFAlpha{
  font-size: 15px;
}
.introduction{
    font-family: UNIfont;
    font-size: 25px;
    color: white;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    background-color: white;;
    -webkit-text-stroke: 0.5px black;
}

.introduction figure{
  float:none;
}

.sfa{
  width:550px;
  height:300px;
  
}

.FGselector{
  text-decoration: none;
  color: white;
}
.FPSselector{
  text-decoration: none;
  color: white;
}


.FGtd:hover{
  background-color: black;
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 50px;
  
}

.FPStd:hover{
  background-color:  	rgba(134,206,203);
  transition: all 0.3s ease-in-out;
   border-top-right-radius: 50px;
   
}

.selector td {
    width: 50%;
    text-align: center;
}

.strive{
  background-image: url(https://media1.tenor.com/m/bZKe53JSg0IAAAAd/sol-badguy-sol.gif);
  background-position: center;
  background-size: 100%;
  padding: 50px;
  -webkit-text-stroke:0.05rem black;
  color: white;
  font-family: GGfont;
  font-size: 50px;
  font-weight: normal;
}

.fgachievements{
  padding-top:90px;
  padding-bottom:90px;
  background-image: url(../Media/25-06-2023-Student-Champ-Finals-British-Esports-HIGH-351-2-767x710.png);
    
    
      /* Set a specific height */


  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fgachievements img{
  height:300px;
  width:300px;
  padding:5px;
}


.fgachievements table{
  font-size:50px;
  color:white;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
}

.Textheader{
  padding-top:50px;
  padding-bottom:50px;
  font-size:50px;
  font-weight: lighter;
  -webkit-text-stroke: 0.1rem white;
  font-family: SFfont;
  font-size: 100px;
  
}

.introduction{
  background-image: url(../Media/4350537-best-fighting-games-header.png);
  background-size: cover;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
