body{
    background-color:antiquewhite;
}

.tabbar{
    overflow: hidden;
    border:1px solid rgba(50, 50, 50, 0.3);
    background-color: #f1f1f1;
}


.tabbar button {
  background-color: inherit;
  
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  transition: 0.3s ease-in-out;
}

.tabbar button:hover {
  background-color: #ddd;
}

.tabbar button.active {
  background-color: #ccc;
}

.tabbarcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


#moba{
  background-color:cyan;
}