*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-shadow: 2px 2px 4px #000000;
}

.title{
  font-size:175px;
  background-color:black;
}

  
body{
    text-align: center;
    background-color:rgba(134,206,203);
}

@font-face {
  font-family: SFfont;
  src: url(../Fonts/CityBrawlersBoldCaps.otf);
}

@font-face {
  font-family: UNIfont;
  src: url(../Fonts/FOT-NewCezanne\ Pro\ B.otf);
}

@font-face {
  font-family: sexfont;
  src: url(../Fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Medium.ttf);
}

@font-face {
  font-family: GGfont;
  src: url(../Fonts/Impact\ -\ Strive.otf);
}
@font-face {
  font-family: CSfont;
  src: url(../Fonts/High\ Speed.otf);
}
@font-face {
  font-family: VALfont;
  src: url(../Fonts/Valorant\ Font.ttf);
}
@font-face {
  font-family: R6font;
  src: url(../Fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: GENfont;
  src: url(../Fonts/Angels.ttf);
}


.tabbar{
    display:flex;
    overflow: hidden;
    background-color: #dbdbdb;

    
    
}
.title{
  padding-top: 100px;
  color:white;
  font-family: sffont;
  font-weight: lighter;
}



.tabbar button {
  width:100%;
  background-color: inherit;
  
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0;
  transition: 0.3s;
  transition: 0.3s ease-in-out;
  font-family: UNIfont;
  font-size: 30px;
  -webkit-text-stroke: 0.5px white;
  font-weight: normal;
}

.tabbar button:hover {
  background-color: #71b1af93;
}

.tabbar button.active {
  background-color: #71b1af;
}

.tabbarcontent {
  position: relative;
  display: none;
  border: none;
  width: 100%;
}




/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.selector{
   border:10px solid rgba(0, 0, 0, 1);
   margin: 0;
   width: 100%;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   background-color:grey;
}






.introduction{
    display:block;
    overflow-y:auto;
    height:1100px;
    text-align:left;
    font-family: UNIfont;
    font-size: 25px;
    color: white;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    background-color: white;;
    -webkit-text-stroke: 0.5px black;
}

.introduction figure{
  display:block;
}

.introduction p{
  padding:5px;
  position:relative;
}



.doomcaption{
  text-align: center;
  padding:5px;
  font-size: 15px;
}

.doomgif{
  width:550px;
  height:300px;
  
}

.doom{
  float:right;
}

.valcaption{
  text-align: center;
  padding:5px;
  font-size: 15px;
}

.valgif{
  float:right;
  width:550px;
  height:300px;
}

.val{
  float:right;
}

.FGselector{
  text-decoration: none;
  color: white;
  font-family: sexfont;
}
.FPSselector{
  background-color:rgba(134,206,203);
  text-decoration: none;
  color: white;
  font-family: sexfont;
}

.FPStd{
  background-color:rgb(117, 180, 176);
  border-top-right-radius: 50px;
}


.FGtd:hover{
  background-color: rgb(169, 40, 40);
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 50px;
  
}

.FPStd:hover{
  background-color:  	rgba(134,206,203);
  transition: all 0.3s ease-in-out;
   border-top-right-radius: 50px;
   
}

.selector td {
    width: 50%;
    text-align: center;
}



.valorantbanner{
  border:#ff4654 5px solid;
  color:#ff4654;
  background-image:url(../Media/VALORANTH1BANNER.gif);
  background-repeat:no-repeat;
  font-family: VALfont;
  font-size:100px;
  padding-top:70px;
  padding-bottom:70px;
  background-size:cover;
  background-position: center;
}

.valorantp{
  font-family: UNIfont;
  width:100%;
  padding:100px;
  font-size:x-large;
  position:relative;
  color:#ba3a46;
  background-color:#111823;
  background-position:center;

}

.cs2{
  border:5px white solid;
  background-image: url(https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/730/capsule_616x353.jpg?t=1749053861);
  background-position:center;
  background-size:cover;
  padding-top: 70px;
  padding-bottom:70px;
  color: white;
  font-family: CSfont;
  font-size: 100px;
  font-weight: normal;
}

.cs2p{

  font-family: UNIfont;
  padding:100px;
  font-weight:bolder;
  font-size:x-large;
  background-color:#E48716;
  color:white;

}

.rainbow{
  border:5px #FE3D2C solid;
  background-image: url(../Media/coolvigilBANNER.gif);
  background-position:center;
  background-size:cover;
  padding-top: 70px;
  padding-bottom:70px;
  color: white;
  font-family: R6font;
  font-size: 100px;
  font-weight: normal;
  -webkit-text-stroke: 1px black;
}

.X{
  color:#FE3D2C;
}
.rainbowp{
  font-family: UNIfont;
  padding:100px;
  font-size:x-large;
  background-color:#00000B;
  color:#FFFFFF;
}



.fpsachievements{
  padding-top:90px;
  padding-bottom:90px;
  background-image: url(../Media/ACHIEVMENTSFPS.png);
    
    
      /* Set a specific height */


  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fpsachievements img{
  height:300px;
  width:300px;
  padding:5px;
}


.fpsachievements table{
  filter:brightness(100%);
  font-size:40px;
  color:white;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
}

.Textheader{
  padding-top:50px;
  padding-bottom:50px;
  font-size:50px;
  font-weight: lighter;
  -webkit-text-stroke: 0.1rem white;
  font-family: VAlfont;
  font-size: 70px;
  
}

.introduction{
  background-image: url(../Media/FPSBG1.png);
  background-size: cover;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.selectorbg{
  background-color:black;
  
}


.tournamentid{
  font-size:20px;
  font-family:sexfont;
}

.first{
  font-family:sexfont;
  color:	#d5b011;
  font-weight:bold;
  font-size:40px;

}

.second{
  font-family:sexfont;
  color:#b7c0bf;
  font-weight:bold;
  font-size:40px;

}

.third{
  font-family:sexfont;
  color:	#7e5920;
  font-weight:bold;
  font-size:40px;

}

.bold{
  font-weight:bolder;
  color:lightblue;
}

.link{
  color:lightblue;
  text-decoration-color:white;
}

.subheader{
  color:lightblue;
}