
@font-face {
  font-family: SFfont;
  src: url(../Fonts/CityBrawlersBoldCaps.otf);
}

@font-face {
  font-family: IBMfont;
  src: url(../Fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Medium.ttf);
}





body{
  background-color: 	#071434;
  text-align:center;
  padding-top: 70px;
  font-family:IBMfont, 'Consolas', 'Courier New', Courier, monospace;
}

h1{
    font-family:SFfont,'Consolas','Courier New', Courier, monospace;
    font-size:100px;
}

.encouragement{
  padding-top:50px;
  text-align:left;
  background-color:beige
}

input{
  padding:5px;
  border-radius:5px;
  border:1px solid;
  margin:5px;
}

select{
  padding:5px;
  border-radius: 5px;
  
}


td {

  padding:5px;
}

table{


  border-radius: 24px;
  
  font-size:20px;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
}

img{
  float:right;
}


.container{
  background-color:#fcfcfc;
  padding:5px;
  border-radius: 5px;
  width:700px;
  
}

#carouselExampleControls{
  float:right;
  background-color: greenyellow;
  width: 200px;;
}