@font-face {
  font-family: SFfont;
  src: url(../Fonts/CityBrawlersBoldCaps.otf);
}

@font-face {
  font-family: IBMfont;
  src: url(../Fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Medium.ttf);
}

@font-face {
  font-family: SFfont;
  src: url(../Fonts/CityBrawlersBoldCaps.otf);
}

@font-face {
  font-family: UNIfont;
  src: url(../Fonts/FOT-NewCezanne\ Pro\ B.otf);
}

@font-face {
  font-family: sexfont;
  src: url(../Fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Medium.ttf);
}

@font-face {
  font-family: GGfont;
  src: url(../Fonts/Impact\ -\ Strive.otf);
}
@font-face {
  font-family: CSfont;
  src: url(../Fonts/High\ Speed.otf);
}
@font-face {
  font-family: VALfont;
  src: url(../Fonts/Valorant\ Font.ttf);
}
@font-face {
  font-family: R6font;
  src: url(../Fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: GENfont;
  src: url(../Fonts/Angels.ttf);
}



body{
  background-image: url(../Media/coolassbg.gif);
  background-size: cover;
  text-align:center;
  font-family:IBMfont, 'Consolas', 'Courier New', Courier, monospace;
}

h1{
    font-family:SFfont,'Consolas','Courier New', Courier, monospace;
    font-size:150px;
}

.encouragement{

  

  border:3px solid black;

  color:black;
  text-align:left;
  background-color:#fcfcfc;
  height:550px;
  font-size:45px;
  padding-top:90px;
  padding-left: 40px;
  position: relative;
  overflow: hidden;
}



.carousel-bg {
    filter:brightness(50%);
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: 0;
}


.carousel-item img{
    width: 100%;
    height: 100%; 
    object-fit:fill;
}

.encouragement h1, .encouragement section {

    text-shadow: #000000 2px 2px 1px; ;
    position: relative;
    z-index: 2;
    color: #fcfcfc

}


input{
  padding:5px;
  border-radius:5px;
  border:1px solid;
  margin:5px;
}

select{
  padding:5px;
  border-radius: 5px;
  
}


td {

  padding:5px;
}

table{


  border-radius: 24px;
  
  font-size:20px;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
}

img{
  float:right;
}


.container{
  border:3px solid#552586;
  background-color:#fcfcfc;
  padding:50px;
  border-radius: 5px;
  width:700px;
  padding-bottom:20px;
  padding-top:10px;
  
}

.container h1{
  text-shadow:#552586 2px 2px 5px;
}

.division p{
  font-size:x-large;
}

.division label{
  font-size:large;
}

.division input{
  transform:scale(1.25);
}

.form-check-input {
  border:2px solid #552586;
}

hr {
  color:black;
  width:100%;
  border-width:10px;
  border-color:black;
}
